# Entornos virtuales de Python
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# Archivos temporales
*.log
*.tmp
*.bak

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Base de datos o datos locales
*.sqlite3
*.db

# Dependencias de Node si existieran
node_modules/

# Archivos generados por Docker
*.pid
docker-compose.override.yml